# Build
bin/
obj/
out/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
secrets.json

# EF Core Migrations snapshot
Migrations/*.cs
